body {
	background-color: #C0081F;
}

.hintergrund {
	height: 765px;
	width: 1130px;
	background-color: #fff;
	margin: 0 auto;
	position: relative;
}

.navigation {
	float: left;
	margin-top: 135px;
	
}

.ueberschrift {
	width: 1130px;
	margin: 0 auto;
	text-align: center;
	word-spacing: 0.1;
}

.text {
	width: 400px;
	height: 650px;
	margin-right: 100px;
	margin-top: 50px;
	float: right;
}

/*Typo*/

	.fliestext {
		font-family: 'Univers LT Std';
		font-size: 17px;
		font-variant: '45 Light';
	}
	.titel {
		width: 450px;
		height: 40px;
		padding-left: 100px;
		padding-top: 10px;
		font-size: 25px;
		font-family: 'Rockwell Std';
		font-weight: 300;
		border-top: 2px;
		border-color: #C0081F;


	} 
	h3 {
		font-size: 20px;
		font-family: 'Rockwell Std';
		font-weight: 300;
		margin: 0;
		padding: 0;
	}
	h1 {
		font-size: 200px;
		font-family: 'Rockwell Std';
		font-variant: 'Regular';
		margin: 0;
		padding: 0;
		color: #FFF;
		font-weight: 500;
	}